:host{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #EEEFF5;
}

mat-drawer{
    min-width: 200px;
    max-width: 325px;
}

mat-drawer-container{
    height: 100%;
}

mat-drawer-content{
    padding: 20px;
    background-color: #3f51b510;
}