:host{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #EEEFF5;
}

.mat-drawer-open{
    min-width: 250px;
    max-width: 325px;
    overflow-x: hidden;
}

.mat-drawer-close{
    min-width: 75px;
    overflow-x: hidden;
}

mat-drawer-container{
    height: 100%;
}

mat-drawer-content{
    padding: 20px;
    background-color: #3f51b510;
}