<div [ngSwitch]="type" class="item-cont">
    <app-chapter-item-list
        *ngSwitchCase="getList()" 
        [item]="item"
        [favorite]="favorite"
        [watched]="watched"
        (playEvent)="play()" 
        (favoriteEvent)="handleFavorite($event)" 
        (watchedEvent)="handleWatched($event)">
    </app-chapter-item-list>
    <app-chapter-item-grid 
        *ngSwitchCase="getGrid()" 
        [item]="item"
        [favorite]="favorite"
        [watched]="watched"
        (playEvent)="play()" 
        (favoriteEvent)="handleFavorite($event)" 
        (watchedEvent)="handleWatched($event)">
    </app-chapter-item-grid>
</div>