.item-post{
    display: block;
    margin: 0 0 1.5em;
}

.cover{
    position: relative;
}

.img-border{
    border-radius: 2px 2px 2px 2px;
}

img {
    border: 0;
    width: 100%;
    height: auto;
}

.overlay{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.overlay-blur{
    backdrop-filter: blur(2px);
}

.overlay > *{
    transform: translateY(20px);
    transition: transform 0.3s;
}

.overlay:hover{
    opacity: 1;
}

.overlay:hover > *{
    transform: translateY(0);
}

.overlay span{
    margin: 0;
    font-size: 3rem;
}

.info{
    margin-top: 10px;
    margin-bottom: 30px;
    min-height: 38px
}

.text-post{
    display: block;
    text-overflow: ellipsis;
    color: #545a5f;
    text-decoration: none;
}

.text-xs {
    font-size: 12px;
}

.text-muted {
    color: #939aa0;
}