<div [id]="item.id" class="item-post">
    <div class="cover">
        <div class="overlay overlay-blur">
            <span class="material-icons">
                play_arrow
            </span>
        </div>
        <img class="img-border" [src]="item.thumbnail" [alt]="item.name" width="150" height="150">
    </div>
    <div class="info">
        <div class="text-post">
            {{item.name}}
        </div>
        <div class="text-muted text-xs text-post">
            {{item.getInformation()}}
        </div>
    </div>
</div>