<h2 mat-dialog-title class="text-center">{{data.item.name | cleanChapterName: data.item.anime}}</h2>
<div mat-dialog-content class="container-block">
    <mat-spinner *ngIf="!loaded"></mat-spinner>
    <vg-player *ngIf="loaded" (onPlayerReady)="onPlayerReady($event)">
        <vg-controls [vgAutohide]="true" [vgAutohideTime]="1.5">
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>
      
            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
      
            <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>
      
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
      
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>
      
            <vg-fullscreen></vg-fullscreen>
        </vg-controls>
      
        <video #media id="singleVideo" [vgMedia]="media" preload="auto" crossorigin>
            <source [src]="urlVideo" type="video/mp4">
        </video>
    </vg-player>
</div>
<div mat-dialog-actions class="btn-final">  
    <button mat-icon-button [class.hide-btn]="!previous" (click)="goPrevious()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button> 
    <button mat-icon-button [color]="favorite ? 'warn' : ''" (click)="handleFavorite()">
        <mat-icon>{{ favorite ? 'favorite' : 'favorite_outline'}}</mat-icon>
    </button> 
    <button mat-icon-button [class.hide-btn]="!next" (click)="goNext()">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button> 
</div> 