Privacy Policy
Privacy has become a major concern on the Internet. this website knows that you care how information about you is used and shared. This privacy statement describes how this website deals with your information. By visiting this website, you are accepting the practices described in this privacy statement.

Personal Information

this website does not require you to disclose personal information anywhere on the site. Your IP address is used to gather broad demographic information and to track your general visiting patterns. Your IP address is also used to help diagnose technical problems. this website does not sell, rent, or trade your personal information with any third parties.

Cookies

Cookies are small text files that are used by many sites to store or transfer information between the main site and the computer you use to access the site. These cookies are stored in a special folder in your temporary internet files directory. this website uses cookies in parts of the website. In the course of serving advertisements to this site, our third-party advertiser may place or recognize a unique "cookie" on your browser.

Advertisers

We use third-party advertising companies to serve ads when you visit this website. These companies may use information about your visits to this and other websites in order to provide advertisements on this site and other sites about goods and services that may be of interest to you. The advertisements may contain cookies. The advertisements are necessary to finance the costs of keeping this site online.

Contact

If you have any questions about this privacy statement, the practices of this site, or your dealings with this website, you are welcome to contact us.

<hr>

DMCA
Information Concerning Copyright Claims

As part of our mission to develop the most complete searchable index of video files legally posted on the Internet for promotional and other legal purposes, our search crawler continuously crawls the Internet for new, legally posted video files. We are, however, primarily an information location tool, and we maintain no editorial oversight over the links in our search index. We do not control the third party websites contained in our index. We are not a "file sharing" site, peer to peer or otherwise; and we in no way support or endorse illegal copying of video. Because we do not own or have editorial control over these third party sites, it is possible that our index may link to some video files that were posted without the copyright owner's authorization.

We rely on copyright owners to protect their own copyright interests by communicating with us. We will immediately take down the link in response to a valid notice of alleged infringement submitted under the Digital Millennium Copyright Act ("DMCA"). We urge copyright owners to directly contact any third party website that has posted an infringing video file. The link in the website index only points to the location of the file hosted elsewhere on the web. Accordingly, while this website can and does delete the link from its search engine upon request, it does not, because it cannot, delete the infringing file, which was posted and is hosted on the Internet by a third party over which this website has no control. We recommend that you use our search engine to identify the third party who posted and is hosting the infringing file, and to contact that third party to delete the infringing video file itself from the Internet prior to having us remove the link.

Digital Millennium Copyright Act

It is our policy to respond immediately to clear notices of alleged copyright infringement. This page describes the information that should be present in these notices. This procedure is designed to make submitting notices of alleged infringement to this website as straightforward as possible, while reducing the number of notices that we receive that are fraudulent or difficult to understand or verify. The form of notice specified below is consistent with the form required by the United States law (an official summary of which can be found at the U.S. Copyright Office Web Site, http://www.copyright.gov/legislation/dmca.pdf), but we will respond to notices of this form from other jurisdictions as well. We suggest that you consult your legal advisor before filing a notice. Also, please be aware that there are penalties (including costs and attorney's fees) for false claims under the DMCA. See http://www.chillingeffects.org/dmca512/faq.cgi for more details.

Infringement Notification

To file a notice of infringement with us, you must provide to the website Copyright Agent designated below a written communication (an email, that includes each of the items specified below:

- an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest (a Word or PDF document highly recommended);
- a description of the copyrighted work that you claim has been infringed, identification of the time(s), date(s) and link(s) the material that you claim is infringing was displayed on the website or service, and any other information that is reasonably sufficient for this website to locate the material;
- your address, telephone number, and email address;
- a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and
- a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.