<!-- MENU LIST DEL SIDENAVE -->
<mat-nav-list>
    <div class="init-ctn">
        <h1 *ngIf="sidebarService.openSideBar">My Anime List</h1>
        <button mat-icon-button aria-label="menu-sidebar" (click)="changeSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <h2 *ngIf="sidebarService.openSideBar" matSubheader>Menú</h2>

    <app-menu-list-item *ngFor="let item of sidebarService.getMenu()" [item]="item"></app-menu-list-item>

    <!-- OTROS -->
    <mat-divider></mat-divider>

    <h2 *ngIf="sidebarService.openSideBar" matSubheader>Extras</h2>
    
    <app-menu-list-item *ngFor="let item of sidebarService.getExtra()" [item]="item"></app-menu-list-item>

</mat-nav-list>