.md-left {
    border-radius: 10px 0 0 10px;
    border-right: 1px solid rgba(230, 230, 230, 0.96);
}
  
.md-middle {
    border-radius: 0;
}
  
.md-right {
    border-radius: 0 10px 10px 0;
    border-left: 1px solid rgba(230, 230, 230, 0.96);
}